---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';
import {Navbar} from '@/components/Navbar';
import Hero from '@/components/Hero.astro';
---

<Layout title="Oranji Online">
    <div class="theme-transition-overlay-dark"></div>
    <div class="theme-transition-overlay-light"></div>
    <main class="w-full px-28 pt-7">
        <Navbar client:load/>
        <Hero />
        <div id="about"></div>
        
    </main>
</Layout>

